{% extends "manipulador/layout.html" %}        
        
        
        
{% block body %}
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        cc[i].addEventListener("click", function() {
        /* Toggle between adding and removing the "active" class,
        to highlight the button that controls the panel */
            this.classList.toggle("active");

        /* Toggle between hiding and showing the active panel */
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
            panel.style.display = "none";
            } else {
            panel.style.display = "block";
            }
    });
    }

// for (i = 0; i < acc.length; i++) {
//     acc[i].addEventListener("click", function() {
//         this.classList.toggle("active");
//         var panel = this.nextElementSibling;
//         if (panel.style.maxHeight) {
//         panel.style.maxHeight = null;
//         } else {
//         panel.style.maxHeight = panel.scrollHeight + "px";
//         }
//     });
//     }
</script>

<button class="accordion">Prompt</button>
<div class="panel">
  <p>{{ json.messages.0.content }}</p>
</div>
    {% for messages in json.messages|slice:"1:-1" %}  <!--Tentar adicionar os 2 casos de info, quando 1 é uma lista e quando é uma str-->
        {% if messages.content.0 != '[' %}
            <div>
                <p><strong>{{ messages.role }}</strong></p>
                <textarea rows="10", cols="220">{{ messages.content}}</textarea>
            </div>
        {% else %}
            <div>
                <p><strong>{{ messages.role }}</strong></p>
                <textarea rows="10", cols="220">{{ messages.content.0.text}}</textarea>
            </div>
        {% endif %}
    {% endfor %}
    <div>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="ação" value="next">
            <button type="submit">Next</button>
        </form>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="ação" value="back">
            <button type="submit">Back</button>
        </form>
    </div>
{% endblock %}
