{% extends "manipulador/layout.html" %}        
        
        
        
{% block body %}
<script>
</script>

<!-- <button class="accordion">Prompt</button>
<div class="panel">
  <p>{{ json.messages.0.content }}</p>
</div> -->
    {% for content in correct_content%} 
        {{content|safe}}
    {% endfor %}
    <div>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="ação" value="next">
            <button type="submit">Next</button>
        </form>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="ação" value="back">
            <button type="submit">Back</button>
        </form>
        <form action="edit/{{ archive_num }}">
            <button type="submit">Edit</button>
        </form>
    </div>
{% endblock %}
